@page "{id}"
@model CS1145_RazorPages.Pages.Actors.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Actor.FirstName @Model.Actor.LastName</h1>

<table class="table">
    <thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Genre</th>
    <th>Director</th>
    </thead>
    <tbody>
    @foreach (var movie in Model.ActorMovies)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Description</td>
            <td>@movie.Genre</td>
            <td>@movie.Director</td>
        </tr>
    }
    </tbody>
</table>